<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>task1
	</title>
</head>
<body>

	<div>
		<form method="post" action="{% url 'htmlAction' %}">
			{% csrf_token %}
			NAME:<input type="text" name="name"><br>
			GENDER:<input type="radio" name="gender" value="Male">Male
			<input type="radio" name="gender" value="FeMale">Female<br>
			:languages known:<br>
			<input type="checkbox" name="lknown" value="english">English<br>
			<input type="checkbox" name="lknown" value="telugu">Telugu<br>
			<input type="checkbox" name="lknown" value="hindi">Hindi<br>
			Section::::
			<select name="abc">
				<option value="a">a</option>
				<option value="b">b</option>
				<option value="c">c</option>
			</select><br>
			<input type="submit" name="submit">
		</form>
	</div>

</body>
</html>